<footer class="footer">
    <div class="fa-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="copyright">
        &#169; WanderLust Private Limited
    </div>
    <div class="privacy">
        <p>Privacy Terms</p>
    </div>
</footer>