<% layout("/layouts/boilerplate") %>
    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h2>Create a New Listing</h2>
                <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                    <br>
                    <div class="div">
                        <label for="title" class="form-label">Enter Title</label>
                        <input type="text" id="title" placeholder="Add a catchy title" name="listing[title]"
                            class="form-control" required>
                        <div class="invalid-feedback">Enter a valid title</div>
                        <div class="valid-feedback">Title Looks Great!</div><br>
                    </div>
                    <div class="div">
                        <label for="des" class="form-label">Description</label>
                        <textarea placeholder="Describe the place" id="des" name="listing[description]"
                            class="form-control" required></textarea>
                            <div class="invalid-feedback">Enter a short description</div>
                        <div class="valid-feedback">Title Looks Great!</div><br>
                    </div>
                    <div class="div">
                        <label for="img" class="form-label">Image url</label>
                        <input type="text" placeholder="Enter image URL/link" id="img" name="listing[image]"
                            class="form-control"><br>
                    </div>
                    <div class="row">
                        <div class="div col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input placeholder="3200" id="price" name="listing[price]"
                                class="form-control" required>
                                <div class="invalid-feedback">Enter a valid price</div>
                            <div class="valid-feedback">Title Looks Great!</div>
                        </div>
                        <div class="div col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" placeholder="Jaipur, Pune" id="location" name="listing[location]"
                                class="form-control" required>
                                <div class="invalid-feedback">Enter a valid location</div>
                            <div class="valid-feedback">Title Looks Great!</div><br>
                        </div>
                    </div>
                    <div class="div">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="India" id="country" name="listing[country]"
                            class="form-control" required>
                            <div class="invalid-feedback">Enter a valid country</div>
                        <div class="valid-feedback">Title Looks Great!</div><br>
                    </div>
                    <button class="btn btn-outline-danger">ADD</button>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </body>